name: Build

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: [ self-hosted, arxas ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build --configuration Release --verbosity normal
